
                        <div class="ui dropdown item" tabindex="0">
                            <i class="user icon"></i>
                            <span class="mobile hidden tablet hidden">
                                {# {{ current_user().username() }} #} User
                            </span>
                            <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
                            <div class="menu transition hidden" tabindex="-1">
                                <a href="{#{{ site_url('profile') }}#}{{ constant('CURRENT_URI') }}#" class="item">
                                    <i class="user icon"></i>
                                    {{ lang('ui_profile') }}
                                </a>
                                <a href="{{ site_url('logout') }}" class="item">
                                    <i class="sign out alternate icon"></i>
                                    {{ lang('ui_logout') }}
                                </a>
                            </div>
                        </div>
