<div id="sidebar">
				
	{% set breadcrumb_widget = widget('breadcrumb_widget') %}

{% if registry('title') is not empty %}
        <div class="sub-header__col">

                    <h3 class="ui header clearfix">
                        {{ registry('header_icon')|raw }}
                            {{ registry('title')|raw }}
    {% if registry('subtitle') is not empty %}
                      <div class="sub header">{{ registry('subtitle')|raw }}</div>
    {% endif %}
                       
                    </h3>



  
                </div>

{% endif %}
				<ul class="menu">
					<li>
						<a href="{{ site_url('account') }}" class="active">
							<i class="ion-ios7-person-outline"></i>
							Profile
						</a>
					</li>
					<li>
						<a href="{{ site_url('account/billing') }}">
							<i class="ion-card"></i>
							Billing
						</a>
					</li>
					<li>
						<a href="{{ site_url('account/notifications') }}">
							<i class="ion-ios7-email-outline"></i>
							Notifications
						</a>
					</li>
					<li>
						<a href="{{ site_url('account/support') }}">
							<i class="ion-ios7-help-outline"></i>
							Support
						</a>
					</li>
				</ul>
			</div>
