
        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>Source repository: <a href="https://github.com/gudh/ihover" target="_blank">https://github.com/gudh/ihover</a></p>
                        <p>For a full set of examples see: <a href="http://gudh.github.io/ihover/dist/index.html" target="_blank">http://gudh.github.io/ihover/dist/index.html</a></p>

                    </div>

                    <div class="col-md-12">

                        <h3>Demo - Circle, Hover Effect 1</h3>

                        <div class="row">

                            <div class="col-sm-6">

                              <!-- normal -->
                              <div class="ih-item circle effect1"><a href="{{ constant('CURRENT_URI') }}#">
                                  <div class="spinner"></div>
                                  <div class="img"><img src="{{ image_url('lib/ihover/2.jpg') }}" alt="img"></div>
                                  <div class="info">
                                    <div class="info-back">
                                      <h3>Heading here</h3>
                                      <p>Description goes here</p>
                                    </div>
                                  </div></a></div>
                              <!-- end normal -->

                            </div>

                            <div class="col-sm-6">

                              <!-- colored -->
                              <div class="ih-item circle colored effect1"><a href="{{ constant('CURRENT_URI') }}#">
                                  <div class="spinner"></div>
                                  <div class="img"><img src="{{ image_url('lib/ihover/5.jpg') }}" alt="img"></div>
                                  <div class="info">
                                    <div class="info-back">
                                      <h3>Heading here</h3>
                                      <p>Description goes here</p>
                                    </div>
                                  </div></a></div>
                              <!-- end colored -->

                            </div>

                        </div>

                        <h3>Demo - Square, Hover Effect 1</h3>

                        <!-- Left and right-->
                        <div class="row">
                          <div class="col-sm-6">

                            <!-- normal -->
                            <div class="ih-item square effect1 left_and_right"><a href="{{ constant('CURRENT_URI') }}#">
                                <div class="img"><img src="{{ image_url('lib/ihover/rect/2.jpg') }}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
                                  <p>Description goes here</p>
                                </div></a></div>
                            <!-- end normal -->

                          </div>
                          <div class="col-sm-6">

                            <!-- colored -->
                            <div class="ih-item square colored effect1 left_and_right"><a href="{{ constant('CURRENT_URI') }}#">
                                <div class="img"><img src="{{ image_url('lib/ihover/rect/5.jpg') }}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
                                  <p>Description goes here</p>
                                </div></a></div>
                            <!-- end colored -->

                          </div>
                        </div>
                        <!-- end Left and right-->


                        <!-- Top to bottom-->
                        <div class="row">
                          <div class="col-sm-6">

                            <!-- normal -->
                            <div class="ih-item square effect1 top_to_bottom"><a href="{{ constant('CURRENT_URI') }}#">
                                <div class="img"><img src="{{ image_url('lib/ihover/rect/3.jpg') }}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
                                  <p>Description goes here</p>
                                </div></a></div>
                            <!-- end normal -->

                          </div>
                          <div class="col-sm-6">

                            <!-- colored -->
                            <div class="ih-item square colored effect1 top_to_bottom"><a href="{{ constant('CURRENT_URI') }}#">
                                <div class="img"><img src="{{ image_url('lib/ihover/rect/4.jpg') }}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
                                  <p>Description goes here</p>
                                </div></a></div>
                            <!-- end colored -->

                          </div>
                        </div>
                        <!-- end Top to bottom-->


                        <!-- Bottom to top-->
                        <div class="row">
                          <div class="col-sm-6">

                            <!-- normal -->
                            <div class="ih-item square effect1 bottom_to_top"><a href="{{ constant('CURRENT_URI') }}#">
                                <div class="img"><img src="{{ image_url('lib/ihover/rect/6.jpg') }}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
                                  <p>Description goes here</p>
                                </div></a></div>
                            <!-- end normal -->

                          </div>
                          <div class="col-sm-6">

                            <!-- colored -->
                            <div class="ih-item square colored effect1 bottom_to_top"><a href="{{ constant('CURRENT_URI') }}#">
                                <div class="img"><img src="{{ image_url('lib/ihover/rect/7.jpg') }}" alt="img"></div>
                                <div class="info">
                                  <h3>Heading here</h3>
                                  <p>Description goes here</p>
                                </div></a></div>
                            <!-- end colored -->

                          </div>
                        </div>
                        <!-- end Bottom to top-->

                    </div>

                </div>

            </div>

        </section>
