
        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>Source repository: <a href="https://github.com/desandro/masonry" target="_blank">https://github.com/desandro/masonry</a></p>
                        <p>This example is based on the article by Maria Antonietta Perna: <a href="https://www.sitepoint.com/bootstrap-tabs-play-nice-with-masonry" target="_blank">https://www.sitepoint.com/bootstrap-tabs-play-nice-with-masonry</a></p>

                        <br />

                    </div>

                    <div class="col-md-12">

                        <div class="row masonry-container">

                          <div class="col-md-4 col-sm-6 col-xs-12 item">
                            <div class="thumbnail">
                              <img src="{{ thumbnail(image_url('lib/ihover/1.jpg'), 200, 200) }}" alt="">
                              <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                <p><a href="{{ constant('CURRENT_URI') }}#" class="btn btn-primary" role="button">Button</a> <a href="{{ constant('CURRENT_URI') }}#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div><!--/.item  -->

                          <div class="col-md-4 col-sm-6 col-xs-12 item">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
                                <p><a href="{{ constant('CURRENT_URI') }}#" class="btn btn-primary" role="button">Button</a> <a href="{{ constant('CURRENT_URI') }}#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div><!--/.item  -->

                          <div class="col-md-4 col-sm-6 col-xs-12 item">
                            <div class="thumbnail">
                              <img src="{{ thumbnail(image_url('lib/ihover/2.jpg'), 200, 200) }}" alt="">
                              <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
                                <p><a href="{{ constant('CURRENT_URI') }}#" class="btn btn-primary" role="button">Button</a> <a href="{{ constant('CURRENT_URI') }}#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div><!--/.item  -->

                          <div class="col-md-4 col-sm-6 col-xs-12 item">
                            <div class="thumbnail">
                              <img src="{{ thumbnail(image_url('lib/ihover/3.jpg'), 200, 200) }}" alt="">
                              <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p><a href="{{ constant('CURRENT_URI') }}#" class="btn btn-primary" role="button">Button</a> <a href="{{ constant('CURRENT_URI') }}#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div><!--/.item  -->

                          <div class="col-md-4 col-sm-6 col-xs-12 item">
                            <div class="thumbnail">
                              <img src="{{ thumbnail(image_url('lib/ihover/4.jpg'), 200, 200) }}" alt="">
                              <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
                                <p><a href="{{ constant('CURRENT_URI') }}#" class="btn btn-primary" role="button">Button</a> <a href="{{ constant('CURRENT_URI') }}#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div><!--/.item  -->

                          <div class="col-md-4 col-sm-6 col-xs-12 item">
                            <div class="thumbnail">
                              <img src="{{ thumbnail(image_url('lib/ihover/5.jpg'), 200, 200) }}" alt="">
                              <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, illum voluptates consectetur consequatur ducimus. Necessitatibus, nobis consequatur hic eaque laborum laudantium. Adipisci, explicabo, asperiores molestias deleniti unde dolore enim quas.</p>
                                <p><a href="{{ constant('CURRENT_URI') }}#" class="btn btn-primary" role="button">Button</a> <a href="{{ constant('CURRENT_URI') }}#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div>

                        </div> <!--/.masonry-container  -->

                    </div>
                
                </div>

            </div>

        </section>
