
{# Author: Ivan Tcholakov, ivantcholakov@gmail.com, 2016 #}
{# License: The MIT License, http://opensource.org/licenses/MIT #}

        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>See <a href="http://twig.sensiolabs.org" target="_blank">http://twig.sensiolabs.org</a></p>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">

                                <thead>

                                    <tr>
                                        <th class="col-sm-8" style="min-width: 300px;">Twig Code</th>
                                        <th class="col-sm-4">Result</th>
                                    </tr>

                                </thead>

                                <tfoot>

                                    <tr>
                                        <th>Twig Code</th>
                                        <th>Result</th>
                                    </tr>

                                </tfoot>

                                <tbody>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Accessing Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ template.title }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ template.title }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}Hello, {{ name }}!{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
Hello, {{ name }}!
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_0 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_0 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_1 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_1 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_2 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_2 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_3 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_3 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ string_123 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ string_123 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog_entities|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog_entities|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ _charset }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ _charset }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ _context.name }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ _context.name }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(_self) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(_self) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Debugging Previews (Available Only on Non-Production Environments)</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>print_d</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>dump</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dump(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>print_r</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_r(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>var_export</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ var_export(array_1) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Checking if a Variable Exists, and If a Variable is Empty</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% if foo is defined %}
    Foo Exists
{% elseif foo is not defined %}
    Foo Does Not Exist
{% endif %}
&lt;br /&gt;
{% if foo is defined and foo is not same as('bar') %}
    Something here
{% else %}
    Nothing here
{% endif %}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% if foo is defined %}
    Foo Exists
{% elseif foo is not defined %}
    Foo Does Not Exist
{% endif %}
<br />
{% if foo is defined and foo is not same as('bar') %}
    Something here
{% else %}
    Nothing here
{% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(value_0 is empty) }} {# Careful here, it is a differency in comparison to PHP. #}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ print_d("" is empty) }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ print_d([] is empty) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(value_0 is empty) }} {# Careful here, it is a differency in comparison to PHP. #}
<div class="clearfix"></div>
{{ print_d("" is empty) }}
<div class="clearfix"></div>
{{ print_d([] is empty) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Assigning Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = null %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = null %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = "my variable" %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = "my variable" %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = "10" %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = "10" %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = array_1 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = array_1 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = ['one', 'two', 'three'] %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = ['one', 'two', 'three'] %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = true %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = true %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = 10 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = 10 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = 250.5 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = 250.5 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Type Casting</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(1|<strong>boolean</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(1|boolean) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d("10"|<strong>integer</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d("10"|integer) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d("250.5"|<strong>float</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d("250.5"|float) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>string</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|string) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>array</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|array) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>object</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|object) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>null</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|null) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Built-In Twig Functions, Filters, and Operators</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ (-10)|<strong>abs</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ (-10)|abs }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ ['a', 'b', 'c', 'd', 'e', 'f', 'g']|<strong>batch</strong>(3, 'x') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(['a', 'b', 'c', 'd', 'e', 'f', 'g']|batch(3, 'x')) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "limp bizkit"|<strong>capitalize</strong> }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>capitalize</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "limp bizkit"|capitalize }}
<br />
{{ "лимп бизкит"|capitalize }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "limp bizkit"|<strong>convert_encoding</strong>('HTML-ENTITIES', _charset) }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>convert_encoding</strong>('HTML-ENTITIES', _charset) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "limp bizkit"|convert_encoding('HTML-ENTITIES', _charset) }}
<br />
{{ "лимп бизкит"|convert_encoding('HTML-ENTITIES', _charset) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(<strong>date()</strong>) }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ "now"|<strong>date</strong>("Y-m-d H:i:s") }}
&lt;br /&gt;
{{ "now"|<strong>date</strong>("Y") }}
&lt;br /&gt;
{{ 2524608000|<strong>date</strong>("Y") }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(date()) }}
<div class="clearfix"></div>
{{ "now"|date("Y-m-d H:i:s") }}
<br />
{{ "now"|date("Y") }}
<br />
{{ 2524608000|date("Y") }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>PHP Functions</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>count</strong>(array_1) }}
&lt;br /&gt;
{{ <strong>count</strong>(array_2) }}
&lt;br /&gt;
{{ <strong>count</strong>(array_2, true) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ count(array_1) }}
<br />
{{ count(array_2) }}
<br />
{{ count(array_2, true) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>gettype</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ gettype(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_array</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_array(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_bool</strong>(boolean_true) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_bool(boolean_true) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_boolean</strong>(boolean_true) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_boolean(boolean_true) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_float</strong>(float_value) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_float(float_value) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_int</strong>(value_0) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_int(value_0) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_integer</strong>(value_0) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_integer(value_0) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_null</strong>(value_null) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_null(value_null) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_numeric</strong>(string_10) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_numeric(string_10) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_object</strong>(object_123) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_object(object_123) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_scalar</strong>(string_123) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_scalar(string_123) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>is_string</strong>(string_123) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ is_string(string_123) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>CodeIgniter's Helpers</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "Very long text. Very long text."|<strong>character_limiter</strong>(10) }}
&lt;br /&gt;
{{ very_long_text|<strong>character_limiter</strong>(10, "&amp;#8230;") }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "Very long text. Very long text."|character_limiter(10) }}
<br />
{{ very_long_text|character_limiter(10, "&#8230;") }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Miscellaneous Tests</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<p>Sample Template, test.html.twig:</p>
<pre><code>{{ twig_test_source }}</code></pre>

<p>PHP Code:</p>
<pre><code>{% verbatim %}$twig_test_name = 'test.html.twig';
$twig_test_path = $this->load->path($twig_test_name);
$twig_test_source = @ (string) file_get_contents($twig_test_path);
$twig_test_1 = $this->parser->parse_string($twig_test_source, array(), true, 'twig');
$twig_test_2 = $this->load->view($twig_test_name, array(), true);{% endverbatim %}</code></pre>

<p>Results To Be Shown:</p>
<pre><code>{% verbatim %}{{ twig_test_1|raw }} &lt;hr /&gt; {{ twig_test_2|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ twig_test_1|raw }} <hr /> {{ twig_test_2|raw }}
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </section>
