
{# Author: Ivan Tcholakov, ivantcholakov@gmail.com, 2016 #}
{# License: The MIT License, http://opensource.org/licenses/MIT #}

        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>See <a href="http://twig.sensiolabs.org" target="_blank">http://twig.sensiolabs.org</a></p>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">

                                <thead>

                                    <tr>
                                        <th class="col-sm-8" style="min-width: 300px;">Twig Code</th>
                                        <th class="col-sm-4">Result</th>
                                    </tr>

                                </thead>

                                <tfoot>

                                    <tr>
                                        <th>Twig Code</th>
                                        <th>Result</th>
                                    </tr>

                                </tfoot>

                                <tbody>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Accessing Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ template.title }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ template.title }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}Hello, {{ name }}!{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
Hello, {{ name }}!
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_0 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_0 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_1 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_1 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_2 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_2 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_3 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_3 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ string_123 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ string_123 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog_entities|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog_entities|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ _charset }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ _charset }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ _context.name }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ _context.name }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(_self) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(_self) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Debugging Previews (Available Only on Non-Production Environments)</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>print_d</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>dump</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dump(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>print_r</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_r(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>var_export</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ var_export(array_1) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Checking if a Variable Exists, and If a Variable is Empty</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% if foo is defined %}
    Foo Exists
{% elseif foo is not defined %}
    Foo Does Not Exist
{% endif %}
&lt;br /&gt;
{% if foo is defined and foo is not same as('bar') %}
    Something here
{% else %}
    Nothing here
{% endif %}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% if foo is defined %}
    Foo Exists
{% elseif foo is not defined %}
    Foo Does Not Exist
{% endif %}
<br />
{% if foo is defined and foo is not same as('bar') %}
    Something here
{% else %}
    Nothing here
{% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(value_0 is empty) }} {# Careful here, it is a differency in comparison to PHP. #}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ print_d("" is empty) }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ print_d([] is empty) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(value_0 is empty) }} {# Careful here, it is a differency in comparison to PHP. #}
<div class="clearfix"></div>
{{ print_d("" is empty) }}
<div class="clearfix"></div>
{{ print_d([] is empty) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Assigning Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = null %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = null %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = "my variable" %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = "my variable" %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = "10" %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = "10" %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = array_1 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = array_1 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = ['one', 'two', 'three'] %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = ['one', 'two', 'three'] %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = true %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = true %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = 10 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = 10 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = 250.5 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = 250.5 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Type Casting</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(1|<strong>boolean</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(1|boolean) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d("10"|<strong>integer</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d("10"|integer) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d("250.5"|<strong>float</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d("250.5"|float) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>string</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|string) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>array</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|array) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>object</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|object) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(250.5|<strong>null</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(250.5|null) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Built-In Twig Tags, Functions, Filters, and Operators (Checks)</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ (-10)|<strong>abs</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ (-10)|abs }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>attribute</strong>(template, 'title') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ attribute(template, 'title') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>block</strong> separator %}&lt;div class="clearfix" /&gt;&lt;hr /&gt;{% endblock %}
Line 1
{{ <strong>block</strong>('separator') }}
Line 2
{{ <strong>block</strong>('separator') }}
Line 3
{{ <strong>block</strong>('separator') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% block separator %}<div class="clearfix" /><hr />{% endblock %}
Line 1
{{ block('separator') }}
Line 2
{{ block('separator') }}
Line 3
{{ block('separator') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ ['a', 'b', 'c', 'd', 'e', 'f', 'g']|<strong>batch</strong>(3, 'x') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(['a', 'b', 'c', 'd', 'e', 'f', 'g']|batch(3, 'x')) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "limp bizkit"|<strong>capitalize</strong> }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>capitalize</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "limp bizkit"|capitalize }}
<br />
{{ "лимп бизкит"|capitalize }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>constant</strong>('BASE_URL') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ constant('BASE_URL') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "limp bizkit"|<strong>convert_encoding</strong>('HTML-ENTITIES', _charset) }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>convert_encoding</strong>('HTML-ENTITIES', _charset) }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>convert_encoding</strong>('HTML-ENTITIES', _charset)|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "limp bizkit"|convert_encoding('HTML-ENTITIES', _charset) }}
<br />
{{ "лимп бизкит"|convert_encoding('HTML-ENTITIES', _charset) }}
<br />
{{ "лимп бизкит"|convert_encoding('HTML-ENTITIES', _charset)|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(<strong>date()</strong>) }}
&lt;div class="clearfix"&gt;&lt;/div&gt;
{{ "now"|<strong>date</strong>("Y-m-d H:i:s") }}
&lt;br /&gt;
{{ "now"|<strong>date</strong>("Y") }}
&lt;br /&gt;
{{ 2524608000|<strong>date</strong>("Y") }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(date()) }}
<div class="clearfix"></div>
{{ "now"|date("Y-m-d H:i:s") }}
<br />
{{ "now"|date("Y") }}
<br />
{{ 2524608000|date("Y") }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ date()|<strong>date_modify</strong>("+1 day")|date("Y-m-d") }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ date()|date_modify("+1 day")|date("Y-m-d") }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ undefined_or_empty_variable|<strong>default</strong>("Undefined or empty variable.") }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ undefined_or_empty_variable|default("Undefined or empty variable.") }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% autoescape false %}{{ dangerous_value|<strong>escape</strong> }}{% endautoescape %}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% autoescape false %}{{ dangerous_value|escape }}{% endautoescape %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>first</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|first }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "There are %d monkeys in the %s."|<strong>format(5, 'tree')</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "There are %d monkeys in the %s."|format(5, 'tree') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>join('; ')</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|join('; ') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>json_encode</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|json_encode }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(array_1|<strong>keys</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1|keys) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>last</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|last }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>length</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|length }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "LIMP BIZKIT"|<strong>lower</strong> }}
&lt;br /&gt;
{{ "ЛИМП БИЗКИТ"|<strong>lower</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "LIMP BIZKIT"|lower }}
<br />
{{ "ЛИМП БИЗКИТ"|lower }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(array_1|<strong>merge</strong>(array_2)) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1|merge(array_2)) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "I like Twig.\nYou will like it too."|<strong>nl2br</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "I like Twig.\nYou will like it too."|nl2br }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ 1234.56|<strong>number_format</strong>(2, ',', ' ') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ 1234.56|number_format(2, ',', ' ') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog|<strong>raw</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "I like %this% with %that%."|<strong>replace</strong>({'%this%': 'whiskey', '%that%': 'ice'}) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "I like %this% with %that%."|replace({'%this%': 'whiskey', '%that%': 'ice'}) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(array_1|<strong>reverse</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1|reverse) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ 42.55|<strong>round</strong> }}
&lt;br /&gt;
{{ 42.55|<strong>round</strong>(1, 'floor') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ 42.55|round }}
<br />
{{ 42.55|round(1, 'floor') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ '12345'|<strong>slice</strong>(0, 2) }}
&lt;br /&gt;
{{ print_d(array_1|<strong>slice</strong>(0, 2)) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ '12345'|slice(0, 2) }}
<br />
{{ print_d(array_1|slice(0, 2)) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d(array_1|<strong>sort</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1|sort) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ print_d("one, two, three"|<strong>split(', ')</strong>) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d("one, two, three"|split(', ')) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog|<strong>striptags</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog|striptags }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "limp bizkit"|<strong>title</strong> }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>title</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "limp bizkit"|title }}
<br />
{{ "лимп бизкит"|title }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "****STRING****"|<strong>trim</strong>('*') }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "****STRING****"|trim('*') }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "limp bizkit"|<strong>upper</strong> }}
&lt;br /&gt;
{{ "лимп бизкит"|<strong>upper</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "limp bizkit"|upper }}
<br />
{{ "лимп бизкит"|upper }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "path-seg*ment"|<strong>url_encode</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "path-seg*ment"|url_encode }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>PHP Functions</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>count</strong> }}
&lt;br /&gt;
{{ array_2|<strong>count</strong> }}
&lt;br /&gt;
{{ array_2|<strong>count</strong>(true) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|count }}
<br />
{{ array_2|count }}
<br />
{{ array_2|count(true) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>gettype</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|gettype }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ array_1|<strong>is_array</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ array_1|is_array }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ boolean_true|<strong>is_bool</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ boolean_true|is_bool }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ boolean_true|<strong>is_boolean</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ boolean_true|is_boolean }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ float_value|<strong>is_float</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ float_value|is_float }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_0|<strong>is_int</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_0|is_int }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_0|<strong>is_integer</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_0|is_integer }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_null|<strong>is_null</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_null|is_null }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ string_10|<strong>is_numeric</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ string_10|is_numeric }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ object_123|<strong>is_object</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ object_123|is_object }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ string_123|<strong>is_scalar</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ string_123|is_scalar }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ string_123|<strong>is_string</strong> }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ string_123|is_string }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>CodeIgniter's Helpers</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ "Very long text. Very long text."|<strong>character_limiter</strong>(10) }}
&lt;br /&gt;
{{ very_long_text|<strong>character_limiter</strong>(10, "&amp;#8230;") }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ "Very long text. Very long text."|character_limiter(10) }}
<br />
{{ very_long_text|character_limiter(10, "&#8230;") }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Miscellaneous Tests</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<p>Sample Template, test.html.twig:</p>
<pre><code>{{ twig_test_source }}</code></pre>

<p>PHP Code:</p>
<pre><code>{% verbatim %}$twig_test_name = 'test.html.twig';
$twig_test_path = $this->load->path($twig_test_name);
$twig_test_source = @ (string) file_get_contents($twig_test_path);
$twig_test_1 = $this->parser->parse_string($twig_test_source, array(), true, 'twig');
$twig_test_2 = $this->load->view($twig_test_name, array(), true);{% endverbatim %}</code></pre>

<p>Results To Be Shown:</p>
<pre><code>{% verbatim %}{{ twig_test_1|raw }} &lt;hr /&gt; {{ twig_test_2|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ twig_test_1|raw }} <hr /> {{ twig_test_2|raw }}
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </section>
