
{# Author: Ivan Tcholakov, ivantcholakov@gmail.com, 2016 #}
{# License: The MIT License, http://opensource.org/licenses/MIT #}

        <section>

            <div class="container">

                <div class="page-header">
                    <h1>{{ template.page_title }}</h1>
                </div>

                <div class="row">

                    <div class="col-md-12">

                        <p>See <a href="http://twig.sensiolabs.org" target="_blank">http://twig.sensiolabs.org</a></p>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">

                                <thead>

                                    <tr>
                                        <th class="col-sm-8" style="min-width: 300px;">Twig Code</th>
                                        <th class="col-sm-4">Result</th>
                                    </tr>

                                </thead>

                                <tfoot>

                                    <tr>
                                        <th>Twig Code</th>
                                        <th>Result</th>
                                    </tr>

                                </tfoot>

                                <tbody>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Accessing Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ template.title }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ template.title }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}Hello, {{ name }}!{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
Hello, {{ name }}!
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_0 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_0 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_1 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_1 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_2 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_2 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ value_3 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ value_3 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ string_123 }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ string_123 }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog|raw }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ dog_entities|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dog_entities|raw }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Debugging Previews (Available Only on Non-Production Environments)</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>print_d</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_d(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>dump</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ dump(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>print_r</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ print_r(array_1) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{{ <strong>var_export</strong>(array_1) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ var_export(array_1) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Assigning Variables</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = null %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = null %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = "my variable" %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = "my variable" %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = "10" %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = "10" %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = array_1 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = array_1 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = ['one', 'two', 'three'] %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = ['one', 'two', 'three'] %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = true %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = true %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = 10 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = 10 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<pre><code>{% verbatim %}{% <strong>set</strong> my_var = 250.5 %}
{{ print_d(my_var) }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{% set my_var = 250.5 %}
{{ print_d(my_var) }}
                                        </td>
                                    </tr>

                                    <tr class="info">
                                        <td colspan="2">
                                            <h4>Miscellaneous Tests</h4>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
<p>Sample Template, test.html.twig:</p>
<pre><code>{{ twig_test_source }}</code></pre>

<p>PHP Code:</p>
<pre><code>{% verbatim %}$twig_test_name = 'test.html.twig';
$twig_test_path = $this->load->path($twig_test_name);
$twig_test_source = @ (string) file_get_contents($twig_test_path);
$twig_test_1 = $this->parser->parse_string($twig_test_source, array(), true, 'twig');
$twig_test_2 = $this->load->view($twig_test_name, array(), true);{% endverbatim %}</code></pre>

<p>Results To Be Shown:</p>
<pre><code>{% verbatim %}{{ twig_test_1|raw }} &lt;hr /&gt; {{ twig_test_2|raw }}{% endverbatim %}</code></pre>
                                        </td>
                                        <td>
{{ twig_test_1|raw }} <hr /> {{ twig_test_2|raw }}
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </section>
