<!-- Content -->

  <div class="authentication-wrapper authentication-3">
    <div class="authentication-inner">

      <!-- Side container -->
      <!-- Do not display the container on extra small, small and medium screens -->
      <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('https://res.cloudinary.com/lmj6rf6tz/image/upload/v1485858629/streamline-bg_uulfwr.jpg');">
        <div class="ui-bg-overlay bg-dark opacity-50"></div>

        <!-- Text -->
        <div class="w-100 text-white px-5">
          <h1 class="display-3 font-weight-bold mb-4">
            <br></h1>
          <div class="text-large font-weight-light">
       
          </div>
        </div>
        <!-- /.Text -->
      </div>
      <!-- / Side container -->

      <!-- Form container -->
      <div class="d-flex col-lg-4 align-items-center bg-white p-5">
        <!-- Inner container -->
        <!-- Have to add `.d-flex` to control width via `.col-*` classes -->
        <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
          <div class="w-100">

            <!-- Logo -->
             <div class="d-flex justify-content-center align-items-center mt-0">
              <div class="ui-w-0">
<img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1496853370/everpay-rnd-logo_s7wmeh.png" class="position-relative" />
              </div>
            </div>
          <!-- / Logo -->

            <h4 class="text-center text-lighter font-weight-normal mt-5 mb-0">Forgot your Password?</h4>

            <!-- Form -->
{{ form_open('', 'method="post" class="ui my-5" id="reset_password_form"') }}
      
                      <div class="form-group">
                        {{ widget('feedback_messages_widget', {
                            'feedback_message_target': feedback_message_target,
                            'normal_message': normal_message,
                            'confirmation_message': confirmation_message,
                            'warning_message': warning_message,
                            'error_message': error_message,
                            'with_javascript': false
                        }) }}
                    </div>
                    
 <div class="form-group{% if validation_errors['username'] %} error{% endif %}">
                       
                <label class="form-label mb-2">Enter your email address and we will send you a link to reset your password.</label>
                        <div class="ui big left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" class="form-control" id="username" value="{{ set_value('username') }}" placeholder="* {{ lang('ui_username')|e('html_attr') }}" maxlength="256">
                        </div>
                    </div>
            
                <button type="button" class="btn btn-primary" type="submit"> Se&nbsp;<i class="sign in icon"></i></button>
              </div>
        
{{ form_close() }}
            <!-- / Form -->

          

          </div>
        </div>
      </div>
      <!-- / Form container -->

    </div>
  </div>

  <!-- / Content -->

