
        <p>
            {{ lang('ui_error_404_description',
'
            <strong>
                <script type="text/javascript">
                //<![CDATA[
                    document.write(htmlspecialchars(document.location.href));
                //]]>
                </script>
            </strong>
')|raw
            }}
        </p>

        <p>
            <a class="ui primary button" href="{{ site_url() }}"><i class="dashboard icon"></i> {{ lang('ui_admin_panel') }}</a>
            <a class="ui grey button" href="{{ default_base_url() }}"><i class="home icon"></i> {{ lang('ui_to_public_site') }}</a>
        </p>

