
                                <div class="ui segment">

                                    <h4>Deletion (refresh) of the system's Twig-template cache</h4>
 
                                    <p>This operation has to be performed after a upgrade of the corresponding application (site).</p>
 
                                    <p>
                                        <div class="ui icon buttons">
                                            <button id="check_all_button" type="button" class="ui green button"><i class="checkmark icon"></i><span class="mobile hidden"> Check All</span></button>
                                            <button id="uncheck_all_button" type="button" class="ui red button"><i class="square outline icon"></i><span class="mobile hidden"> Uncheck All</span></button>
                                        </div>

                                    </p>

                                    <table class="ui celled striped compact table" id="datatable">

                                        <thead>
                                            <tr>
                                                <th class="eight wide">Application (site)</th>
                                                <th class="eight wide">Message</th>

                                            </tr>
                                        </thead>

                                        <tfoot class="mobile hidden">
                                            <tr>
                                                <th>Application (site)</th>
                                                <th>Message</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                            {% for item in items %}
                                            <tr>

                                                <td>
                                                    <div class="ui checkbox twig">
                                                        <input type="checkbox" id="app_{{ loop.index0 }}" name="app_{{ loop.index0 }}" value="1" data-i="{{ loop.index0 }}" />
                                                        <label for="app_{{ loop.index0 }}" style="cursor: pointer;">{{ item['name'] }}</label>
                                                    </div>
                                                </td>

                                                <td class="messages" id="message_{{ loop.index0 }}">
                                                    
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>

                                    <p>
                                        <button type="button" class="ui primary large fluid button" id="refresh_twig"><i class="refresh icon"></i>Refresh Twig-Template Cache</button>
                                    </p>

                                </div>
