<div class="ncontainer">

          
 <div class="trial-account">         
          
 <div class="container">
                <div class="trial-account__row">
                    <div class="trial-account__col">
                        <h1 class="trial-account__h1">
                        <a class="elektro-logo" href="/">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,e_grayscale,h_67,w_212/v1497453042/elektropay/assets/img/logo.png" alt="Elektropay icon white bg">
                </a></h1>
                        
                    </div>
                </div>
            </div>        
          
            
  <div class="signup">
  <div class="signup__box clearfix signup__box--active">
  <div class="signup__box--h3">Log in to your account</div>
{{ form_open('', 'method="post" class="signup__form" id="login_form"') }}
     <div class="field">
                        {{ widget('feedback_messages_widget', {
                            'feedback_message_target': feedback_message_target,
                            'normal_message': normal_message,
                            'confirmation_message': confirmation_message,
                            'warning_message': warning_message,
                            'error_message': error_message,
                            'with_javascript': false
                        }) }}
                    </div>   
<div class="signup__inputs{% if validation_errors['username'] %} error{% endif %}">
<div class="ui left icon">
<input type="text" name="username" id="username" class="signup__input signup__input--prefix" value="{{ set_value('username') }}" placeholder=" {{ lang('ui_username')|e('html_attr') }}" autocomplete="off" maxlength="256">
</div>
<div class="signup__progress"><div class="signup__progress--bar signup__progress--three"></div></div>
</div>

<div class="signup__inputs{% if validation_errors['password'] %} error{% endif %}">
<div class="ui left icon">
<input type="password" name="password" id="password" class="signup__input signup__input--prefix" value="{{ set_value('password') }}" placeholder=" {{ lang('ui_password')|e('html_attr') }}" maxlength="256">
</div> 
<div class="signup__progress"><div class="signup__progress--bar signup__progress--three"></div></div>

</div>

 <button class="login__btn btn btn--two" type="submit"> {{ lang('ui_login') }} <i class="sign in icon"></i></button>
 
  <div class="clearfix"></div>
  
<a class="panel-footer" href="/signup/">Need an Account? &nbsp;<span>Sign Up</span></a>
 
  </div>
  
{{ form_close() }}
  </div>
  

                    </div>
                </div>


