{{ html_begin() }}
{{ head_begin() }}
{{ meta_charset() }}

{{ base_href() }}
{{ ie_edge() }}
{{ html_title() }}
{{ metadata() }}

{{ viewport() }}
{{ favicon() }}
{{ apple_touch_icon_precomposed() }}

{{ js_platform() }}
{% include 'partials/webfontloader' %}
{{ css('compiled/theme.css') }}
{{ css('vendor/ionicons.min.css') }}
{{ css('vendor/brankic.css') }}
{{ css('vendor/animate.css') }}    
{{ css('lib/sweetalert/sweetalert-custom.min.css') }}
{{ css('lib/jquery-ui-custom/jquery-ui.min.css') }}
{{ css('vendor/datepicker.css') }}
{{ css('vendor/shepherd.css') }}
{{ css('vendor/offline.chrome.css') }}
{{ css('vendor/messenger/messenger.css') }}
{{ css('vendor/messenger/messenger-theme-flat.css"') }}
{{ css('admin-1.3.5.min.css') }}
{{ partial('css') }}
<style>
.sub-header {
    padding-top: 0.9375em!important;
    padding-bottom: 0.9375em;
    padding-left: 0.1375em;
    padding-right: 0.1375em;
  
}

.sub-header .page-header--btn {
    display: inline-block!important;
    position: relative!important;
    float: right!important;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;	
    line-height: 1.428571;
    padding: .75em 1.875em!important;
    border-radius: 2.5em;
    font-size: 1em!important;
        margin-right: 20px;
    margin-top: -70px;
    font-family: MarkWebPro-Book,Helvetica,sans-serif;
    font-size: 1em!important;
    letter-spacing: .046875em;
    -webkit-transition: margin-top .25s ease-in-out .5s;
    transition: margin-top .25s ease-in-out .5s;
}

.page-header--btn {
     display: inline-block!important;
    position: relative!important;
    float: right!important;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;	
    line-height: 1.428571;
    padding: .75em 1.875em!important;
    border-radius: 2.5em;
    font-size: 1em;
    margin-right: 20px;
    margin-top: 10px;
    font-family: MarkWebPro-Book,Helvetica,sans-serif;
    font-size: .9355em!important;
    letter-spacing: .046875em;
    -webkit-transition: margin-top .25s ease-in-out .5s;
    transition: margin-top .25s ease-in-out .5s;
}

.btn--three:active, .btn--three:focus, .btn--three:hover { {
    text-align: left;
    float: none;
    background-color: #8268bb!important;
    border: 1px solid #8268bb!important;
    color: #eee;
    box-shadow: none;
}

@media screen and (min-width: 992px){
.main-account {
    background-position: center 350px;
    padding-top: 1.5em!important;
    padding-bottom: 3.8375em;
    background-image: !important;;
    }}

@media screen and (min-width: 768px){
.main-account {
    background-position: center 330px;
    padding-top: 0.95em;
    padding-bottom: 3.625em;
    background-image: none!important;
    }}

.main-account {
    padding-top: 4.875em;
    padding-bottom: 7.5em;
    background-color: none!important;
    background-position: center 16.25em;
    background-size: 100% auto;
    background-color: transparent!important;
    background-repeat: no-repeat;
}

#sidebar {
   background-color: hsla(0,0%,100%,.9);
    height: auto;
    min-height: 100%;
    min-width: 240px;
}

@media only screen and (min-width: 992px){
#sidebar {
    min-width: 240px;
    }}
#sidebar {
    background-color: hsla(0,0%,100%,.9)!important;
    height: auto;
    min-height: 100%;
    min-width: 240px;
}

.ui.vertical.menu {
     margin-top: 20px;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: hsla(0,0%,100%,.9)!important;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}


#footer {
   background-color:inherit;
    height: auto;
    min-height: 60px;
    min-width: 100%;
}

#sidebar_menu .item .title {
       display: block;
    color: #210e4a;
    font-size: 1.375em;
	margin-left: 10px;
    letter-spacing: .046875em;
    font-family: MarkWebPro-Book-Bold,Helvetica,sans-serif;
    margin-bottom: 1em;
    -webkit-transition: color .5s;
    transition: color .5s;
    line-height: 2em;
}

#sidebar_menu .item .title.active {
    color: #28dc8e;
}

.ui.accordion.menu .item .title {
    display: block;
    padding: 0em;
    padding-left: 10px;
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0em .85rem 0em 0em!important;
}


	
body {
    color: #565656!important;
}

.elektro-logo {
    left: auto;
    margin-left: 2em;
    padding-top: 0.35em!important;
    float: left;
}
	

.main-header--one {
    background: linear-gradient(to top, #a2b6df 0%, #6b8cce 100%, #a2b6df 100%, #0c3483 100%)!important;	
}
	
.main-header--one {
    background-color: linear-gradient(to top, #a2b6df 0%, #6b8cce 100%, #a2b6df 100%, #0c3483 100%);	

}

.main-header--one:before {
    background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1491557670/bg-pattern-10_mcdqsg.png)!important;
}

.main-header--one:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
   z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.main-header.main-header--one:before {
  -webkit-transform: skewY(-9deg);
  -moz-transform: skewY(-9deg);
  -ms-transform: skewY(-9deg);
  -o-transform: skewY(-9deg);
  transform: skewY(-9deg);
}

.main-header.main-header--one-2:before {
  -webkit-transform: skewY(9deg);
  -moz-transform: skewY(9deg);
  -ms-transform: skewY(9deg);
  -o-transform: skewY(9deg);
  transform: skewY(9deg);
}
	
	
[class*=tp--pattern-]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}	
	
.main-header__h1--three {
    color: #ffffff!important;
}
	
.main-header--blue {
    background: linear-gradient(to top, #a2b6df 0%, #6b8cce 100%, #a2b6df 100%, #0c3483 100%)!important;
}
	
	
.main-header--home {
    background: linear-gradient(to top, #a2b6df 0%, #6b8cce 100%, #a2b6df 100%, #0c3483 100%)!important;
    background-position: 50%;
    color: #fff;
}
	
.main-header--lander {
   background-size: 30% auto!important;	
   background-position: center 15.125em!important;	
   background-repeat: no-repeat;
   background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1444311774/swish-merchant-portal1_edb2xp.png)!important;
}
	
.main-header--devices {
    background-position: bottom!important;
    height: 50em;
   background-size: 100% auto!important;	
   background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/a_auto_right,c_scale,w_525/a_2/v1457565441/hardware-mini-clover_ky2gh5.png);
}
	
.main-header--invoicing {
    background-position: bottom!important;
    height: 50em;
    background-size: 100% auto!important;
    background-image: url(https://static.monese.com/s/pricing/pricing-hero-dt-2.gif);
}
	
.main-header--payments {
    background-position: bottom!important;
    height: 50em;
    background-size: 100% auto!important;
    background-image: url(https://static.monese.com/s/pricing/pricing-hero-dt-2.gif);
}
	
.main-header--account {
    background-position: bottom!important;
    height: 50em;
    background-size: 100% auto!important;
    background-image: url(https://static.monese.com/s/pricing/pricing-hero-dt-2.gif);
}
	
.main-account {
    background-position: center 220px;
    padding-top: 8.125em;
    padding-bottom: 1.4375em;
    background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1457411329/processors-logos_gcvss0.png)!important;
    background-size: 60% auto!important;
}
	
	
.subnavbar__item--tactive {
    color: #eeeeee;
    opacity: 1;
}
	
.subnavbar__item--tactive:hover {
    color: #28dc8e!important;
}
	
.navbar__highlight--active {
   width: 90px!important;
}
	
.region__text {
    color: #210E4B!important;
}	
	
.overmenu__item {
    width: 300px;
    opacity: 1;
    color: #333333!important;
}
	
.overmenu__sub {
    font-size: 1em;
    color: #444!important;
}
	
.overmenu--company {
    width: 320px!important;
    top: 80px;
    right: auto;
    left: 72%;
    margin-left: -480px;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
    height: 255px;
}	

.overmenu--active {
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
    opacity: 1;
    pointer-events: auto;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
	
.navbar__highlight {
    display: block;
    position: fixed;
    top: 4.9375em;
    left: 37.5em;
    width: 5.6875em;
    height: .1875em;
    background-color: #ffffff!important;
    border-radius: .125em;
    z-index: 7;
}

.subnavbar__li {
    display: inline-block;
    margin-right: 1.5525em!important;
    padding: 0;
}
	
.subnavbar {
    margin-left: -55px!important;
     width: 580px!important;
}

.subnavbar__li--login {
	margin-top: 2px;
	min-height: 21.875em;
    position: relative;
	display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
	
.login-now--active {
    margin-top: 15px;
    padding: 6px 15px!important;

    float: right!important;	
}

.login-now {
    display: block!important;
    position: relative!important;
    float: right!important;
    padding: 5.5px 15px!important;
    margin-right: 10px;
    margin-top: 15.5px;
    font-family: MarkWebPro-Book,Helvetica,sans-serif;
    font-size: .9355em!important;
    letter-spacing: .046875em;
    -webkit-transition: margin-top .25s ease-in-out .5s;
    transition: margin-top .25s ease-in-out .5s;
}
	
.btn--ghost, .btn--ghost:active {
    background-color: transparent!important;
     box-shadow: none!important;
	color:#ffffff;

}
	
.language--region {
    margin-right: 2px!important;
}
	
.login-now a {
    color: #210E4B!important;
     box-shadow: none!important;
}

.btn--ghost:focus, .btn--ghost:hover {
  color: #eeeeee!important;
}

.btn {
    border-radius: 0.5em!important;
}
	
	
.btn--ghost {
    text-align: left;
    float: none;
    border: 1px solid #ffffff!important;
    color: #fff;
    box-shadow: none!important;
}
	
.whyus__h2 {
    width: 99%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: .65em;
}
	
.whyus__h4 {
    color: #444444;
    font-size: 1.1155em!important;
   text-align: center;
    margin-right: 60px;
    margin-bottom: 1.5625em;
    text-transform: none;
    text-align: center;
	
}
	
.main-account__h2, .copy-image__h2, .two-col__h2, .copy-background__h2 {
    color: #4CDEF5!important;
    margin-bottom: .6875em;
}
	
.selling-points__p {
    color: #444!important;
    margin: 0 auto;
}
	
.insider {
    background-color: #675682!important;
    color: #ffffff;
}
	
.insider__h2 {
    color: #ffffff!important;
    margin-bottom: 1.5625em;
    width: 100%;
}
	
.insider__input {
    width: 100%;
    display: block;
    background-color: #675682!important;
   border-bottom: 2px solid #ffffff!important;
    color: #eeeeee!important;
}
	
.insider__submit {
    background-color: transparent!important;
    color: #fefefe!important;
    text-transform: lowercase;
    font-size: 14px;
    width: 100%;
    margin-bottom: 1.1375em;
    outline: none;
    border: 1px solid #ffffff!important;
    box-shadow: none!important;
}

.insider__message {
    font-size: .875em;
    line-height: 1.5em;
    color: #fefefe!important;
    text-align: center;
}
	
	
.insider__gdpr {
    display: block;
    position: relative;
    top: 55px;
    font-size: 10px!important;
    line-height: 20px;
    color: #210e4a;
    opacity: .7;
    padding-left: 22px;
}
	
.d-flex {
    display: flex !important;
}
ul.list-style-none {
    list-style: none !important;
}
	
.list-style-none {
    list-style: none !important;
}
	
.flex-wrap {
    flex-wrap: wrap !important;
}
	
.mr-3 {
padding-left: 0.95em;
padding-right: 0.95em;
}

.footer-octicon {
    color: #c6cbd1;
}
	
.footer-terms {
    padding-top: 1.95em!important;
    padding-bottom: 0.95em!important;
    background-color: #ffffff!important;
}
	
.footer-terms__copy {
    font-size: .875em!important;
    line-height: 4.0625em!important;
    color: #8f86a2;
    margin-bottom: 0.15em!important;
}	
	
.ui.form .field>label {
    display: block;
    margin: 0em 0em .25rem 0em;
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
}

.ui.selection.dropdown {
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1.75em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    min-width: 14em;
    font-size: 14px;
    min-height: 2.52678571em;
    background: #FFF;
    display: inline-block;
    padding: .6875em 1.975em .6875em .875em;
    color: rgba(0,0,0,.87);
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .25rem;
    transition: box-shadow 0.1s ease,width 0.1s ease;
}

.main-header__p {
    font-size: 1.25em;
    width: 200px!important;
    max-width: 240px!important;
}



.btn--elektro {
    text-align: left;
    float: none;
    border: 1px solid #210E4B!important;
    color: #210E4B!important;
    box-shadow: none!important;
    background-color: #fff!important;
}

#application {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #fff!important;
}

h1.ui.header {
    font-size: 2.55rem;
}
.ui.header {
    border: none;
    margin: calc(2rem - 0.14285714em) 0em 1rem;
    padding: 0em 0em;
    font-family: 'Open Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.28571429em;
    text-transform: none;
    color: #6b8cce;
}

.ui.dropdown .menu>.item {
    color: rgba(0,0,0,.87);
    padding: 1.5125rem 2.725rem!important;
    font-size: 1.25rem!important;
	
.ui.dropdown .menu {
    top: 38px!important;
    margin-left: -30px!important;
}
</style>

{{ js_modernizr() }}
{{ js_jquery() }}
{{ js('lib/jquery-json/jquery.json.js') }}
{{ partial('ckeditor') }}
{{ js('lib/phpjs/phpjs.min.js') }}
{{ js('lib/sweetalert/sweetalert.min.js') }}

{{ partial('head') }}

{{ head_end() }}

{% set body_attr = {'id': 'page-top'} %}
{% if template.module is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.module ~ '_module') %}
{% endif %}
{% if template.controller is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.controller) %}
{% endif %}
{% if template.method is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.method ~ '_method') %}
{% endif %}
{% if id is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, 'item_' ~ id) %}
{% endif %}
{{ body_begin(body_attr) }}

    {{ widget('main_menu_widget') }}
        
 
 <div id="application" class="ncontainer">
 
 {{ widget('side_menu_widget') }}

    <div id="page">

<header class="sub-header sub-header--white" id="header">
        <div class="sub-header__container container">
            <div class="sub-header__row row">
        

{% set breadcrumb_widget = widget('breadcrumb_widget') %}

{% if registry('title') is not empty or breadcrumb_widget is not empty %}
        <div class="sub-header__col">

                    <h1 class="ui header clearfix">
    {% if breadcrumb_widget is not empty %}
                        <div class="breadcrumb">{{ breadcrumb_widget|raw }}</div>
    {% endif %}
                        {{ registry('header_icon')|raw }}
                        <div class="content">
                            {{ registry('title')|raw }}
    {% if registry('subtitle') is not empty %}
                            <div class="sub header">{{ registry('subtitle')|raw }}</div>
    {% endif %}
                        </div>
                    </h1>



  <a v-on:click="trackHeaderCTA" v-bind:class="{ 'page-header--btn': showCta }" class="btn btn--three page-header--btn" href="#">Add New</a>

                </div>

{% endif %}
  </div>
        </div>

    </header>


<div class="copy-image--none copy-image--tall" id="main_content">

        <div class="container">
            <div class="row">
{{ widget('feedback_messages_widget', {
    'feedback_message_target': feedback_message_target,
    'normal_message': normal_message,
    'confirmation_message': confirmation_message,
    'warning_message': warning_message,
    'error_message': error_message
}) }}
</div>
 </div>
  
<div class="col-lg-12 col-md-12 col-xs-12">
{{ body() }}
</div>

</div>

</div>
</div>

{{ widget('footer_widget') }}

{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}

{{ partial('handle_unauthenticated_ajax') }}
{{ js('lib/semantic/semantic.min.js') }}
{{ js('lib/jquery-ajax-queue/jquery-ajax-queue.js') }}
{{ js('lib/jquery-ellipsis/jquery.ellipsis.min.js') }}
{{ js('lib/jquery-keepalive/jquery.keepalive.min.js') }}
{{ js('lib/dataTables/jquery.dataTables.min.js') }}
{{ js('lib/dataTables/dataTables.semanticui.min.js') }}
{{ js('lib/dataTables/plug-ins/api/sortNeutral.js') }}
{{ js('lib/dataTables/dataTables.responsive.min.js') }}
{{ js('lib/dataTables/responsive.semanticui.min.js') }}
{{ js('lib/dataTables/dataTables.select.min.js') }}
{{ js('lib/jquery-ui-custom/jquery-ui.min.js') }}
{{ js('vendor/jquery.cookie.js') }}
{{ js('vendor/bootstrap-datepicker.js') }}
{{ js('vendor/jquery.validate.min.js') }}
{{ js('vendor/offline.min.js') }}
{{ js('vendor/shepherd.min.js') }}
{{ js('vendor/messenger/messenger.min.js') }}
{{ js('vendor/messenger/messenger-theme-flat.js') }}
{% if language_jquery_ui() != 'en' %}
{{ js('lib/jquery-ui-custom/i18n/jquery.ui.datepicker-' ~ language_jquery_ui() ~ '.js') }}
{% endif %}
{{ js('admin.js') }}
{{ js('elektropay.min.js') }}
{{ partial('scripts') }}
{{ js('app.min.js') }}

<script src="https://brave-hawking-fe06eb.netlify.com//js/main-ce0aec80fc.min.js" async></script>

     <noscript id="deferred-styles">
  {{ css('app.min.css') }}
     </noscript>
     
            <script>
           //<![CDATA[ 
           
              var loadDeferredStyles = function() {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
              };
              var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                  webkitRequestAnimationFrame || msRequestAnimationFrame;
              if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
              else window.addEventListener('load', loadDeferredStyles);
              
                 //]]>
            </script>
<div id="debug"></div>

{{ body_end() }}
{{ html_end() }}
