{{ html_begin() }}
{{ head_begin() }}
{{ meta_charset() }}

{{ base_href() }}
{{ ie_edge() }}

{{ html_title() }}
{{ metadata() }}

{{ viewport() }}
{{ favicon() }}
{{ apple_touch_icon_precomposed() }}

{{ js_platform() }}
{% include 'partials/webfontloader' %}
{{ css('lib/sweetalert/sweetalert.min.css') }}
{{ theme_css('admin.min.css') }}
{{ partial('css') }}

{{ js_modernizr() }}
{{ js_jquery() }}

{{ js('lib/phpjs/phpjs.min.js') }}
{{ js('lib/sweetalert/sweetalert.min.js') }}

{{ partial('head') }}

{{ head_end() }}

{% set body_attr = {'id': 'page-top'} %}
{% if template.module is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.module ~ '_module') %}
{% endif %}
{% if template.controller is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.controller) %}
{% endif %}
{% if template.method is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.method ~ '_method') %}
{% endif %}
{% if id is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, 'item_' ~ id) %}
{% endif %}
{{ body_begin(body_attr) }}

    {{ widget('main_menu_widget') }}

    <div id="application">

    {{ widget('side_menu_widget') }}

    <div id="page">

    <header id="header">

        <div class="ui vertically padded grid">

{{ widget('breadcrumb_widget') }}

{% if template.page_title is not empty %}

            <div class="row">
                <div class="column">

                    <h1 class="ui header">{{ template.page_title }}</h1>

                </div>
            </div>

{% endif %}

        </div>

    </header>

    <main id="main_content">

        <div class="ui vertically padded grid">

{{ widget('feedback_messages_widget', {
    'feedback_message_target': feedback_message_target,
    'normal_message': normal_message,
    'confirmation_message': confirmation_message,
    'warning_message': warning_message,
    'error_message': error_message
}) }}

            <div class="row">
                <div id="content-container" class="sixteen wide column">

{{ body() }}

                </div>
            </div>

        </div>

    </main>

    </div>
    </div>

    {{ widget('footer_widget') }}

{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}

{{ js('lib/semantic/semantic.min.js') }}
{{ js('lib/jquery-ajax-queue/jquery-ajax-queue.js') }}
{{ js('lib/jquery-ellipsis/jquery.ellipsis.min.js') }}
{{ js('lib/jquery-keepalive/jquery.keepalive.min.js') }}
{{ js('admin.js') }}


{{ partial('scripts') }}

{{ partial('handle_unauthenticated_ajax') }}

    <div id="debug"></div>

{{ body_end() }}
{{ html_end() }}
