{{ html_begin() }}
{{ head_begin() }}
{{ meta_charset() }}

{{ base_href() }}
{{ ie_edge() }}

{{ html_title() }}
{{ metadata() }}

{{ viewport() }}
{{ favicon() }}
{{ apple_touch_icon_precomposed() }}

{{ js_platform() }}
{% include 'partials/webfontloader' %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>   
<link rel="stylesheet" href="https://brave-hawking-fe06eb.netlify.com/css/app.min.css"> 
{{ css('login.min.css') }}
{{ partial('css') }}

{{ js_modernizr() }}
{{ js_jquery() }}

{{ partial('head') }}

{{ head_end() }}

{{ body_begin({'id': 'page-top', 'class': 'login-page'}) }}
{{ body() }}

{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}

{{ js('lib/semantic/semantic.min.js') }}

{{ partial('scripts') }}

<script type="text/javascript">
//<![CDATA[

    $(function () {

        $('.ui.dropdown').dropdown();

        $('body').on('click', '.message .close', function() {

            $(this)
              .closest('.message')
              .transition('fade')
            ;
        });
;
    });

//]]>
</script>


<script src="https://brave-hawking-fe06eb.netlify.com/main-ce0aec80fc.min.js" async></script>

     <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="https://brave-hawking-fe06eb.netlify.com/css/app.min.css"/>
     </noscript>
     
            <script>
            //<![CDATA[

              var loadDeferredStyles = function() {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
              };
              var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                  webkitRequestAnimationFrame || msRequestAnimationFrame;
              if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
              else window.addEventListener('load', loadDeferredStyles);
              
//]]>
            </script>


    <div id="debug"></div>

{{ body_end() }}
{{ html_end() }}
