{{ html_begin() }}
{{ head_begin() }}
{{ meta_charset() }}

{{ base_href() }}
{{ ie_edge() }}

{{ html_title() }}
{{ metadata() }}

{{ viewport() }}
{{ favicon() }}
{{ apple_touch_icon_precomposed() }}

{{ js_platform() }}
{% include 'partials/webfontloader' %}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin" rel="stylesheet" type="text/css">
	
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet' class='theme-settings-bootstrap-css'>
{{ css('lib/animate/animate.css') }}
{{ css('lib/sweetalert/sweetalert-custom.min.css') }}
{{ css('lib/jquery-ui-custom/jquery-ui.min.css') }}
{{ css('app.min.css') }}
{{ css('everpay.app.css?v=' ~ constant('PLATFORM_VERSION')) }}
{{ partial('css') }}
<style>
.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

    .authentication-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-preferred-size:100%;flex-basis:100%;min-height:100vh;width:100%}.authentication-wrapper .authentication-inner{width:100%}.authentication-wrapper.authentication-1,.authentication-wrapper.authentication-2,.authentication-wrapper.authentication-4{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.authentication-wrapper.authentication-1 .authentication-inner{max-width:300px}.authentication-wrapper.authentication-2 .authentication-inner{max-width:380px}.authentication-wrapper.authentication-3{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-box-pack:stretch;-ms-flex-pack:stretch;justify-content:stretch}.authentication-wrapper.authentication-3 .authentication-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:stretch;-ms-flex-pack:stretch;justify-content:stretch}.authentication-wrapper.authentication-4 .authentication-inner{max-width:800px}@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){.authentication-wrapper:after{content:'';display:block;-webkit-box-flex:0;-ms-flex:0 0 0%;flex:0 0 0%;min-height:inherit;width:0;font-size:0}}

</style>

<script src="//use.typekit.net/wkj3pfp.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

{{ js('material-ripple.js') }}
{{ js('app-layout.js') }}
{{ js('app-settings.js') }}
  <script>
 //<![CDATA[ 
    window.themeSettings = new ThemeSettings({
      cssPath: 'assets/css/app/',
      themesPath: 'assets/css/app/'
    });
 //]]>
  </script>

{{ js_modernizr() }}

{{ js('pace.js') }}

{{ js('lib/jquery/jquery-1.12.4.min.js') }}


{{ js('lib/popper/popper.js') }}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{{ js('lib/jquery-json/jquery.json.js') }}
{{ partial('ckeditor') }}
{{ js('lib/phpjs/phpjs.min.js') }}
{{ js('lib/sweetalert/sweetalert.min.js') }}


{{ partial('head') }}

{{ head_end() }}

{{ body_begin({'id': 'page-top', 'class': 'signup-page'}) }}

<div class="page-loader">
    <div class="bg-success"></div>
  </div>


{{ body() }}

{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}

{{ js('lib/semantic/semantic.min.js') }}

{{ partial('scripts') }}



<script type="text/javascript">
//<![CDATA[

    $(function () {

        $('.ui.dropdown').dropdown();

        $('body').on('click', '.message .close', function() {

            $(this)
              .closest('.message')
              .transition('fade')
            ;
        });
;
    });

//]]>
</script>


           
            
            
{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}

{{ partial('handle_unauthenticated_ajax') }}

{{ js('lib/semantic/semantic.min.js') }}
{{ js('lib/block-ui/block-ui.js') }}
{{ js('lib/jquery-ajax-queue/jquery-ajax-queue.js') }}
{{ js('lib/jquery-ellipsis/jquery.ellipsis.min.js') }}
{{ js('lib/jquery-ui-custom/jquery-ui.min.js') }}
{{ js('vendor/bootstrap-datepicker.js') }}
{{ js('vendor/jquery.validate.min.js') }}
{% if language_jquery_ui() != 'en' %}
{{ js('lib/jquery-ui-custom/i18n/jquery.ui.datepicker-' ~ language_jquery_ui() ~ '.js') }}

{{ js('lib/smartwizard/smartwizard.js') }}
{{ js('lib/validate/validate.js') }}
{{ js('lib/perfect-scrollbar/perfect-scrollbar.js') }}
{% endif %}

{{ js('everpay.app.js') }}
{{ js('auth.js') }}
{{ partial('scripts') }}

{{ css('style.css') }}

<div id="debug"></div>

{{ body_end() }}
{{ html_end() }}
