{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2015-2016
The MIT License, http://opensource.org/licenses/MIT
#}

{{ partial('pjax_subnavbar') }}

                        <p>A page containing a video</p>

{% if not system_requirements_ok %}

                        <div class="ui orange message">
                           PHP {{ php_required }} is required for this example.
                        </div>

{% else %}

                        <div class="ui 16:9 embed">{{ multiplayer.html(video)|raw }}</div>

                        <p><a href="{{ video|e('html_attr') }}" target="_blank">{{ video }}</a></p>

{% endif %}
