
{# author: Ivan Tcholakov <ivantcholakov@gmail.com>, 2016 #}
{# license The MIT License, http://opensource.org/licenses/MIT #}

                        {{ partial('subnavbar') }}

                        {{ form_open('', 'method="post"') }}

                            <div>

                                {{ form_ckeditor('content', content, editor_mode, { 'height': 150 }) }}

                            </div>

                            <br class="clear" />

                            <button type="submit" class="ui primary button">Submit Content</button>

                        {{ form_close() }}

                        <h2>Result:</h2>

                        <div>{{ set_value('content', content, false) }}</div>
