
{% if language_switcher is not empty %}

    {% set item_active = [] %}

    {% for item in language_switcher %}
        {% if item['active'] is not empty %}{% set item_active = item %}{% endif %}
    {% endfor %}

                    <div class="ui dropdown item">

                            {% if item_active['flag'] is not empty %}{{ image('lib/flags-iso/flat/24/' ~ item_active['flag'] ~ '.png', 'class="ui middle aligned image" style="max-width: inherit !important;"') }}{% else %}{{ item_active['label'] }}{% endif %}
                            <i class="dropdown icon"></i>

                            <div class="menu">

        {% for item in language_switcher %}
                                <a class="item{% if item['active'] is not empty %} active {% endif %}" href="{{ item['link'] }}">{% if item['flag'] is not empty %}{{ image('lib/flags-iso/flat/24/' ~ item['flag'] ~ '.png', 'class="ui middle aligned image" style="max-width: inherit !important;"') }} {{ item['label'] }}{% else %}{{ item['label'] }}{% endif %}</a>
        {% endfor %}

                            </div>

                    </div>
{% endif %}
