{{ html_begin() }}
{{ head_begin() }}
{{ meta_charset() }}

{{ base_href() }}
{{ ie_edge() }}

{{ html_title() }}
{{ metadata() }}

{{ viewport() }}
{{ favicon() }}
{{ apple_touch_icon_precomposed() }}
{{ cleartype_ie() }}

{{ js_platform() }}
{{ file_partial('webfontloader') }}
{{ theme_css('front.min.css') }}
{{ file_partial('css') }}
{{ partial('css') }}
{{ js('lib/phpjs/phpjs.min.js') }}
{{ js_selectivizr() }}
{{ js_modernizr() }}
{{ js_respond() }}
{{ js_jquery() }}
{{ js('lib/jquery-json/jquery.json.js') }}
{{ partial('ckeditor') }}
{{ partial('head') }}

{{ head_end() }}

{{ body_begin({'id': 'page-top'}) }}


    <!-- Wrap all page content here -->
    <div id="wrap">

{{ widget('main_menu_widget') }}

        <!-- Begin page content -->
        <div class="container" id="content-container">

{{ noscript('<div class="alert alert-warning text-center">' ~ lang('ui_noscript') ~ '</div>') }}
{{ unsupported_browser('<div class="alert alert-warning text-center">' ~ lang('ui_unsupported_browser') ~ '</div>') }}

{{ widget('breadcrumb_widget') }}

{{ body() }}

        </div>

    </div>

{{ file_partial('site_example_footer') }}

{{ js_jquery_extra_selectors() }}
{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}
{{ js_imgsizer() }}

{{ js('lib/bootstrap-3/bootstrap.min.js') }}
{{ js('lib/jasny-bootstrap-3/jasny-bootstrap.min.js') }}
{{ js('lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js') }}
{{ js('lib/snackbar/snackbar.min.js') }}
{{ js('lib/nouislider/nouislider.min.js') }}

{{ file_partial('scripts') }}
{{ partial('scripts') }}

{{ js('lib/google-code-prettify/prettify.js') }}
{{ js('site_example.js') }}

    <div id="debug"></div>

{{ file_partial('google_analytics') }}

{{ body_end() }}
{{ html_end() }}