{{ html_begin() }}
{{ head_begin() }}
{{ meta_charset() }}

{{ base_href() }}
{{ ie_edge() }}

{{ html_title() }}
{{ metadata() }}

{{ viewport() }}
{{ favicon() }}
{{ apple_touch_icon_precomposed() }}

{{ js_platform() }}
{{ file_partial('webfontloader') }}

{{ css('lib/bootstrap-3/bootstrap-no-font-face.min.css') }}
{{ css('lib/material-design-icons/material-icons.min.css') }}
{{ css('lib/jasny-bootstrap-3/jasny-bootstrap.min.css') }}
{{ css('lib/bootstrap-3/bootstrap-theme.min.css') }}
{{ css('lib/common/common.min.css') }}
{{ css('admin_example.css') }}

{{ file_partial('css') }}
{{ partial('css') }}

{{ js_modernizr() }}
{{ js_jquery() }}

{{ partial('head') }}

{{ head_end() }}

{% set body_attr = {'id': 'page-top'} %}
{% if template.module is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.module ~ '_module') %}
{% endif %}
{% if template.controller is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.controller) %}
{% endif %}
{% if template.method is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, template.method ~ '_method') %}
{% endif %}
{% if id is not empty %}
    {% set body_attr = html_attr_add_class(body_attr, 'item_' ~ id) %}
{% endif %}
{{ body_begin(body_attr) }}


    <!-- Wrap all page content here -->
    <div id="wrap">

{{ file_partial('admin_example_navbar') }}

        <!-- Begin page content -->
        <div class="container">

{{ noscript('<div class="alert alert-warning text-center">' ~ lang('ui_noscript') ~ '</div>') }}
{{ unsupported_browser('<div class="alert alert-warning text-center">' ~ lang('ui_unsupported_browser') ~ '</div>') }}

{{ body() }}

        </div>

    </div>

{{ file_partial('admin_example_footer') }}

{{ js_jquery_extra_selectors() }}
{{ js_bp_plugins() }}
{{ js_mbp_helper() }}
{{ js_scale_fix_ios() }}
{{ js_imgsizer() }}

{{ js('lib/bootstrap-3/bootstrap.min.js') }}
{{ js('lib/jasny-bootstrap-3/jasny-bootstrap.min.js') }}
{{ js('lib/jquery-ajax-queue/jquery-ajax-queue.js') }}

{{ file_partial('scripts') }}
{{ partial('scripts') }}

{{ partial('handle_unauthenticated_ajax') }}

    <div id="debug"></div>

{{ body_end() }}
{{ html_end() }}