{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2014-2016
The MIT License, http://opensource.org/licenses/MIT
#}

{% if not driver_ok %}

                                <div class="ui orange message">pdo_sqlite database driver is needed for this demo to work.</div>

{% else %}

                                {{ form_open("", 'id="test_form" method="post" class="ui form"') }}

                                    <div class="field">

                                        <label for="country_id">
                                            Country:
                                        </label>

                                        <div class="ui fluid clearable search selection dropdown">
                                            <input type="hidden" name="country_id" id="country_id">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">-- {{ lang('ui_choose') }} --</div>
                                            <div class="menu">
    {% for key, country_code in country_codes %}
        {% set country_name = country_names[key] %}
        {% set flag = image_path('lib/flags-iso/flat/24/' ~ country_code ~ '.png') %}
        {% if flag is empty %}
            {% set flag = image_path('lib/flags-iso/flat/24/_unknown.png') %}
        {% endif %}
                                                <div class="item" data-value="{{ key|e('html_attr') }}">
                                                    <img class="ui mini image" src="{{ flag|e('html_attr') }}" />
                                                    {{ country_name }}
                                                </div>
    {% endfor %}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="field">

                                        <div id="map_canvas" class="ui 16:9 embed"></div>
                                        <p id="larger_map" style="display: none;"></p>

                                    </div>

                                {{ form_close() }}

{% endif %}
