{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2014-2016
The MIT License, http://opensource.org/licenses/MIT
#}

{% if not driver_ok %}

                                <div class="ui orange message">pdo_sqlite database driver is needed for this demo to work.</div>

{% else %}

                                {{ form_open("", 'id="test_form" method="post" class="ui form"') }}

                                    <div class="field{% if validation_errors['country_1'] is not empty %} error{% endif %}">

                                        <label for="country_1">
                                            * Country 1:
                                        </label>

{{ form_dropdown(
    'country_1',
    {'': '-- ' ~ lang('ui_choose') ~ ' --' }|array_plus(country_names),
    set_value('country_1', country_1),
    'id="country_1" class="" style="width: 100%;"'
) }}

                                    </div>

                                    <div class="field{% if validation_errors['country_2'] is not empty %} error{% endif %}">

                                        <label for="country_2">
                                            * Country 2:
                                        </label>

{{ widget(
    'playground/country_dropdown_widget/index',
    { 'element_name': 'country_2', 'element_class': '', 'value': set_value('country_2', country_2) }|array
) }}

                                    </div>

                                    <p>{{ lang('ui_required_fields_note') }}</p>

                                    <button id="test_form_submit" name="test_form_submit" type="submit" class="ui primary button">
                                        <i class="checkmark icon"></i>
                                        Submit Form
                                    </button>

                                {{ form_close() }}

{% endif %}
