{#
Ivan Tcholakov <ivantcholakov@gmail.com>, 2014-2016
The MIT License, http://opensource.org/licenses/MIT
#}
                        <h4>PHP Implementation Tests</h4>

                        <table class="ui compact celled table" style="table-layout: fixed; word-wrap: break-word;">
                            <tbody>
                                <tr>
                                    <td style="width: 50%;"><pre><code>$my_random_boolean = Random::boolean() ? 1 : 0;</code></pre></td>
                                    <td>{{ my_random_boolean }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$result_true = 0;
$result_false = 0;
for ($i = 1; $i <= 100; $i++) {
    if (Random::boolean()) {
        $result_true++;
    } else {
        $result_false++;
    }
}
</code></pre></td>
                                    <td>{{ 'result_true: ' ~ result_true ~ '; result_false: ' ~ result_false }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$my_random_bytes = bin2hex(Random::bytes(10));</code></pre></td>
                                    <td>{{ my_random_bytes }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$my_random_float = Random::float();</code></pre></td>
                                    <td>{{ my_random_float }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$my_random_integer = Random::int(0, PHP_INT_MAX);</code></pre></td>
                                    <td>{{ my_random_integer }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$my_random_integer_2 = Random::int(1, 100);</code></pre></td>
                                    <td>{{ my_random_integer_2 }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$my_random_string = Random::string(20);</code></pre></td>
                                    <td>{{ my_random_string }}</td>
                                </tr>
                                <tr>
                                    <td><pre><code>$my_random_string_2 = Random::string(20, "!\"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~");</code></pre></td>
                                    <td>{{ my_random_string_2 }}</td>
                                </tr>
                            </tbody>
                        </table>
