
                {{ partial('subnavbar') }}

                <p>
                    See
                    <a href="https://github.com/kenwheeler/slick" target="_blank">https://github.com/kenwheeler/slick</a>,
                    <a href="http://kenwheeler.github.io/slick/" target="_blank">http://kenwheeler.github.io/slick/</a>
                </p>

                <div id="slideshow_test" class="slideshow">

                    <div class="carousel">

                        <div>
                            <h3 class="center aligned text">Image 1</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/1.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 2</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/2.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 3</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/3.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 4</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/4.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 5</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/5.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 6</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/6.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 7</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/7.jpg') }}" />
                        </div>

                        <div>
                            <h3 class="center aligned text">Image 8</h3>
                            <img class="ui centered image" src="{{ image_url('lib/ihover/8.jpg') }}" />
                        </div>

                    </div>

                    <div class="buttons">

                        <button type="button" class="play mobile hidden"><i class="play icon"></i></button>
                        <button type="button" class="pause mobile hidden"><i class="pause icon"></i></button>

                    </div>

                </div>

                <div class="ui hidden divider"></div>
