
<header class="sub-header sub-header--white" id="header">
        <div class="sub-header__container">
            <div class="sub-header__row row">
        

{% set breadcrumb_widget = widget('breadcrumb_widget') %}
{% if registry('title') is not empty %}
        <div class="sub-header__col">

                    <h1 class="ui header clearfix">
                        {{ registry('header_icon')|raw }}
                            {{ registry('title')|raw }}
    {% if registry('subtitle') is not empty %}
                      <div class="sub header">{{ registry('subtitle')|raw }}</div>
    {% endif %}
                       
                    </h1>


<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
<div class="btn-group" role="group">
    <button id="btnGroupAddnew" type="button" class="btn btn-lg btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add new
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupAddnew"> 
      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#newChargeModal"> Charge</a>
      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#newInvoiceModal"> Invoice</a>
      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#newCustomerModal"> Customer</a>
      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#newProductModal"> Product</a>
    </div>
  </div>
  <div>

                </div>

{% endif %}
  </div>
        </div>

    </header>

<div class="content-wrapper">	

<ul class="list-group list-group-lg">

<li id="" class="list-group-item">
<div class="panel-section">
  <div class="section-description">
    <h4 class="purple" role="heading" aria-level="3">
      <span>Account ID: </span> 12335459IOOKAJDJDSS</span> 
</h4>
      <h5 class="mt1">
        <span class="dark-gray"> Plan Level:</span> <span class="info"><strong>Professional</strong></span><span class="status-active pull-right"> Active </span>
      </h5>
      <h5 class="mt1 dark-gray">
         <span> API ID:</span> <span>FXMNSMNSJHDS76DHJMNDE </span> <span><a v-on:click="" v-bind:class="{ 'btn--transparent': showCta }" class="btn--transparent btn-xs pull-right" href="javascript:void(0)">show</a></span>
      </h5>
      <h5 class="mt1">
       <span class="dark-gray"> API usage:</span>
       <span class="referrals progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100" style="width: 67%"></div></span></span>
      </h5>
 </div>

  <div class="panel-content">
{{ widget('home/dashboard_metrics_widget/index') }}
    </div>
    
<!---->  </div> 

</li>


<li id="" class="list-group-item">
<div class="panel-section">
  <div class="section-description">
    <h4 class="purple" role="heading" aria-level="3">
      Transactions this week
<!---->    </h4>
<h5 class="mt2 dark-gray">
        Displaying sales and charges analytics
      </h5>
{{ widget('home/home_menubar_widget/index') }}
<div class="chart-nborder clearfix mt2">
					<div class="clearfix mt0">
						<h4>
							<span class="dark-gray pull-left">Succesful charges</span>

							<span class="total text-center hidden-xs">
								$3,124.00 total</span>
								
							<span class="change up trans-status-approved pull-right">
					<i class="fa fa-chevron-up"></i> 6.5%
					</span>
						</h4>
					</div>
					<div class="mt0 clearfix">
						<h4>
							<span class="dark-gray pull-left">Declined charges</span>

							<span class="total text-center hidden-xs">
								478 total
								</span>
								
								<span class="change down trans-status-declined pull-right">
									<i class="fa fa-chevron-down"></i>
									3.5%
								</span>
						</h4>
					</div>
					
					<div class="mt1 clearfix">
						<h4>
							<span class="dark-gray pull-left">Refunded charges</span>

							<span class="total text-center hidden-xs">
								12 total
								</span>
								
								<span class="change down trans-status-declined pull-right">
									<i class="fa fa-chevron-down"></i>
									3.5%
								</span>
						</h4>
					</div><div class="mt1 clearfix">
						<h4>
							<span class="dark-gray">Paid Invoices</span>

							<span class="total text-center hidden-xs">
								1,402 total
								</span>
								
								<span class="change down trans-status-declined pull-right">
									<i class="fa fa-chevron-down"></i>
									3.5%
								</span>
						</h4>
					</div>
					
					
					
				</div>

<!---->  </div>

<div class="panel-content">
<p></p>
{{ widget('home/dashboard_graph_widget/index') }}
</div>

<!----> </div>
</li>

<li id="" class="list-group-item">
<div class="panel-section">
  <div class="section-description">
    <h4 class="purple" role="heading" aria-level="3">
      Platform Activity
<!---->    </h4>
<h5 class="mt2 dark-gray">
        New Customers.
      </h5>
      
      <h5 class="mt0 dark-gray">
       New Tickets.
      </h5>
      
      <h5 class="mt0 dark-gray">
        New Orders.
      </h5>
      
      <h5 class="mt0 dark-gray">
       New Invoices.
      </h5>
<!---->  </div>

<div class="panel-content">
                     {{ widget('home/activity_feed_widget/index') }}  
		     <br/> 
		     <a class="two-col__btn btn btn--transparent btn--half" href="#">
                                See More
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>


</div>
<!----> </div>
</li>

<li id="" class="list-group-item">
<div class="panel-section">
  <div class="section-description">
    <h4 class="purple" role="heading" aria-level="3">
      My Invoices
<!---->    </h4>
<h5 class="mt2 dark-gray">
        Check the current state of your invoices.
      </h5>
<!---->  </div>

<div class="panel-content">
<h3> You have to build your administration interface here. </h3>
                            <p class="two-col__copy">      </p>
 {{ widget('home/quick_buttons_widget/index') }}
                          
                        </div>

<!----> </div>
</li>

<li id="" class="list-group-item">
<div class="panel-section">
  <div class="section-description">
    <h4 class="purple" role="heading" aria-level="3">
      Welcome: First Last Name
<!---->    </h4>
<h5 class="mt2 dark-gray">
        Deploy the current state of a branch to this app.
      </h5>
<!---->  </div>

<div class="panel-content">

            <div class="ui segment">
	    
                    <form class="ui form">

                        <div class="field">

                            <label for="date_picker_test">
                                * jQuery Date Picker Test (yyyy-mm-dd):
                            </label>

                            <div class="ui left icon input">
                                <input type="text" class="signup__inputs" name="date_picker_test" id="date_picker_test"
                                    value=""
                                />
                                <i class="calendar icon"></i>
                            </div>

                        </div>

                    </form>

                <p>
                    <button class="ui button btn-primary btn--mini" id="test_4">A success message</button>
                </p>

                <p>
                    <a href="javascript://"
                       class="popover"
                       data-html="You see a popup here."
                       data-variation="wide"
                    >
                        <i class="help circle icon"></i> A popup test
                    </a>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_1">SMTP Encryption (testing a native select box 1):</label>

                            <select name="smtp_crypto" id="smtp_crypto_1" class="ui native dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_2">SMTP Encryption (testing a native select box 2):</label>

                            <select name="smtp_crypto" id="smtp_crypto_2" class="ui native selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto">SMTP Encryption (testing a nullable dropdown):</label>

                            <select name="smtp_crypto" id="smtp_crypto" class="ui nullable selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

<!----> </div>
</li>

 </ul>	
 
<div class="container">
<div class="two-col__row row">
		    
                        <div class="two-col__col">
        <img class="two-col__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_060e012c8487784e655524c9661b5008.jpg 256w" alt="Fast &amp; cheap transfers">
                        </div>
			
                        <div class="two-col__col two-col__col--second">
                            <h2 class="h3 two-col__h2">Upgrade Now</h2>
                            <h3 class="h2 two-col__h3">Need more features?</h3>
                            <p class="two-col__copy">Upgrade now to take advantage of 20% cheaper rates than using a traditional processors.</p>
                            <a class="two-col__btn btn btn--transparent btn--full" href="javascript:void(0)">
                                Send money for less
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                        </div>
		
 <!----> </div>
     <!----> </div>
      
    


<!----> </div>