<div class="content-wrapper">	

<div class="container">

{{ widget('home/home_menubar_widget/index') }}

<div class="two-col__row row">
   <div class="one-col__col">
{{ widget('home/dashboard_metrics_widget/index') }}
    </div>
</div>
<div class="two-col__row row">
		    
<div class="two-col__col">
       {{ widget('home/dashboard_graph_widget/index') }}
</div>
			
                        <div class="two-col__col two-col__col--second">
                            <p class="two-col__copy">      {{ widget('home/activity_feed_widget/index') }}</p>
                            <a class="two-col__btn btn btn--transparent btn--full" href="i#l">
                                See More
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                        </div>
			
                    </div>


<div class="two-col__row row">
   <div class="one-col__col">
<h4> You have to build your administration interface here. </h4>

{{ widget('home/quick_buttons_widget/index') }}
    </div>
</div>

<div class="two-col__row row">

<div class="one-col__col">
            <div class="ui segment">
	    
                    <form class="ui form">

                        <div class="field">

                            <label for="date_picker_test">
                                * jQuery Date Picker Test (yyyy-mm-dd):
                            </label>

                            <div class="ui left icon input">
                                <input type="text" class="signup__inputs" name="date_picker_test" id="date_picker_test"
                                    value=""
                                />
                                <i class="calendar icon"></i>
                            </div>

                        </div>

                    </form>

                <p>
                    <button class="ui button btn-primary btn--mini" id="test_4">A success message</button>
                </p>

                <p>
                    <a href="javascript://"
                       class="popover"
                       data-html="You see a popup here."
                       data-variation="wide"
                    >
                        <i class="help circle icon"></i> A popup test
                    </a>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_1">SMTP Encryption (testing a native select box 1):</label>

                            <select name="smtp_crypto" id="smtp_crypto_1" class="ui native dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_2">SMTP Encryption (testing a native select box 2):</label>

                            <select name="smtp_crypto" id="smtp_crypto_2" class="ui native selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto">SMTP Encryption (testing a nullable dropdown):</label>

                            <select name="smtp_crypto" id="smtp_crypto" class="ui nullable selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

            </div>
	            </div>    
	   
 </div>
 
                    <div class="two-col__row row">
		    
                        <div class="two-col__col">
        <img class="two-col__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_060e012c8487784e655524c9661b5008.jpg 256w" alt="Fast &amp; cheap transfers">
                        </div>
			
                        <div class="two-col__col two-col__col--second">
                            <h2 class="h3 two-col__h2">Upgrade Now</h2>
                            <h3 class="h2 two-col__h3">Looking for more features</h3>
                            <p class="two-col__copy">Upgarde now to take advantage of 20% cheaper rates than using a traditional processors.</p>
                            <a class="two-col__btn btn btn--transparent btn--full" href="i#l">
                                Send money for less
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                        </div>
			
                    </div>
		    
		           </div>
		    
        
</div>


</div>
