
            <p>
                You have to build your administration interface here.
            </p>

            <p>
                Back to the public site: <a href="{{ default_base_url() }}">{{ default_base_url() }}</a>
            </p>

{{ widget('home/quick_buttons_widget/index') }}

            <div class="ui hidden divider"></div>

            <div class="ui segment">

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="date_picker_test">
                                * jQuery Date Picker Test (yyyy-mm-dd):
                            </label>

                            <div class="ui left icon input">
                                <input type="text" name="date_picker_test" id="date_picker_test"
                                    value=""
                                />
                                <i class="calendar icon"></i>
                            </div>

                        </div>

                    </form>
                </p>

                <p>
                    <button type="button" class="ui grey button" id="test_4">A success message</button>
                </p>

                <p>
                    <a href="javascript://"
                       class="popover"
                       data-html="You see a popup here."
                       data-variation="wide"
                    >
                        <i class="help circle icon"></i> A popup test
                    </a>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_1">SMTP Encryption (testing a native select box 1):</label>

                            <select name="smtp_crypto" id="smtp_crypto_1" class="ui native dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto_2">SMTP Encryption (testing a native select box 2):</label>

                            <select name="smtp_crypto" id="smtp_crypto_2" class="ui native selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <p>
                    <form class="ui form">

                        <div class="field">

                            <label for="smtp_crypto">SMTP Encryption: (testing a clearable dropdown)</label>

                            <select name="smtp_crypto" id="smtp_crypto" class="ui clearable selection dropdown">
                                <option value="" selected="selected">-- none --</option>
                                <option value="ssl">ssl</option>
                                <option value="tls">tls</option>
                            </select>

                        </div>

                    </form>
                </p>

                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>

            </div>

{% set loremipsum = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' %}

            <div class="ui hidden divider"></div>

            <div class="ui segment">

                <div class="ui stackable doubling five column grid">
                    <div class="row">
                        <div class="column">
                            <p class="ellipsis-1">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-2">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-3">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-4">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-5">{{ loremipsum }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <p class="ellipsis-6">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-7">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-8">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-9">{{ loremipsum }}</p>
                        </div>
                        <div class="column">
                            <p class="ellipsis-10">{{ loremipsum }}</p>
                        </div>
                    </div>
                </div>

            </div>
