
				<div class="row metrics clearfix">
					<div class="col-md-3 metric">
						<span class="field">Total users</span>
						<span class="data">24,900</span>
					</div>
					<div class="col-md-3 metric">
						<span class="field">New sign ups</span>
						<span class="data">108</span>
					</div>
					<div class="col-md-3 metric">
						<span class="field">Sales this month</span>
						<span class="data">$674.00</span>
					</div>
					<div class="col-md-3 metric">
						<span class="field">Total Sales</span>
						<span class="data">$3,823.90</span>
					</div>
				</div>


                            <div class="row ui grid">

                                <div class="col-md-3 sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary blue inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="file outline icon"></i>
                                                        <span class="no break">{{ total_page_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Pages
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary green inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="bell outline icon"></i>
                                                        <span class="no break">{{ total_news_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        News
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary yellow inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="picture outline icon"></i>
                                                        <span class="no break">{{ total_gallery_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Galleries
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-3 sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary red inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="film icon"></i>
                                                        <span class="no break">{{ total_slideshow_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Slideshow
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
