
        <nav id="main_navigation">

            <div class="ui blue inverted attached menu">

                <a class="icon item" id="sidebar_toggle">
                    <i class="sidebar icon"></i>
                </a>

                <a href="{{ site_url() }}" class="brand item">
                    <strong>{{ setting('site_name') is not empty ? setting('site_name') : lang('admin_panel') }}</strong>
                </a>

                <a href="{{ default_base_url() }}" target="_blank" rel="noopener" class="mobile hidden item">
                    <i class="home icon"></i> <span class="mobile hidden tablet hidden computer hidden">Go To Site</span>
                </a>

                <a href="{{ default_base_url('sitemap.xml')|e('html_attr') }}" target="_blank" rel="noopener" class="mobile hidden tablet hidden computer hidden item">
                    <i class="sitemap icon"></i> <span class="mobile hidden tablet hidden computer hidden">Sitemap XML</span>
                </a>

                <div class="right menu">

                    <div class="mobile hidden tablet hidden computer hidden item">{{ constant('ENVIRONMENT')|upper|e('html') }}</div>
                    {{ widget('theme_switcher_widget/index', 'navbar') }}
                    {{ widget('account_widget') }}

                </div>

            </div>

        </nav>
