<nav v-on:mouseleave="highlightActiveItem" v-bind:style="{ height: windowHeight + 'px' }" v-bind:class="{ 'navbar--active': isActive }" class="navbar">
               
            
            <div class="navbar__container">
        <div class="navbar__header">
            <button type="button" v-bind:class="{ 'ctablet--extended': isActive }" v-on:click="closeNavigation" class="ctablet">
                <svg class="ctablet__arrow btn__arrow arrow">
                    <use xlink:href="#icon-arrow" />
                </svg>
            </button>
            <button type="button" v-bind:class="{ 'hamburger--extended': isActive }" v-on:click="toggle" class="hamburger">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar hamburger__bar--second"></span>
            </button>
               <a class="elektro-logo" href="{{ site_url() }}">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/c_scale,e_grayscale,h_57,w_152/v1497453042/elektropay/assets/img/logo.png" alt="Elektropay icon white bg">
                
            </a>  
          <button type="button" v-bind:class="{ 'language--extended': isRegionActive, 'language--mextended': isActive  }" v-on:click="toggleRegion" class="language language--region">
                <span class="region__flag">
                <i class="user icon"></i>
                </span>
                <span class="region__text">
                                      My
               <span class="region__span">Account</span>
                                    </span>
                <svg v-bind:class="{ 'language__arrow--active': isRegionActive }" class="language__arrow btn__arrow arrow language__arrow--region">
                    <use xlink:href="#icon-arrow" />
                </svg>
            </button>
            
       <button type="button" v-bind:class="{ 'login-now--active': showCta }" v-on:click="" class="btn btn--elektro  hidden"> {{ widget('account_widget') }} </button>
                   
                               
        </div>
        
        <div v-bind:style="{ height: regionHeight + 'px' }" class="sublanguage sublanguage--header sublanguage--region" v-bind:class="{ 'sublanguage--extended': isRegionActive }">
            <div class="sublanguage__scroll">

                <div class="sublanguage--language">
                    <h2 class="sublanguage__h2 sublanguage__h2--region">User Name</h2>

                    <ul class="sublanguage__ul sublanguage__ul--region">
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/account/profile">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagbg" />
                                </svg>
                                Profile
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/account/settings">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagde" />
                                </svg>
                              Settings
                            </a>
                        </li>
                        <li class="sublanguage__li">                                                                                       
                            <a class="sublanguage__a" href="/account/support?l=c">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagen" />
                                </svg>
                              Help & Support
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/account/refferer?id">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flages" />
                                </svg>
                            Refer a friend
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sublanguage--region">

                                                                                    
                    <a class="sublanguage__selection" href="/account/select">
                        <span class="sublanguage__selection--flag">
                            <svg class="language__flag language__flag--left">
                                <use xlink:href="#icon-flageu" />
                            </svg>
                        </span>
                        <span class="sublanguage__selection--title">Switch Account</span>
                        <span class="sublanguage__selection--copy">UK</span>
                        <svg class="arrow subnavbar__arrow subnavbar__arrow--region">
                            <use xlink:href="#icon-arrow" />
                        </svg>
                    </a>

                                                                                    
                    <a v-on:click="switchRegion('gb');" class="sublanguage__selection sublanguage__selection--last sublanguage__selection--active" href="/logout">
                        <span class="sublanguage__selection--flag">
                            <svg class="language__flag language__flag--left">
                                <use xlink:href="#icon-flagen" />
                            </svg>
                        </span>
                        <span class="sublanguage__selection--title">Log off</span>
                        <span class="sublanguage__selection--copy"></span>
                        <svg class="arrow subnavbar__arrow  subnavbar__arrow--region">
                            <use xlink:href="#icon-arrow" />
                        </svg>
                    </a>
                </div>

            </div>
        </div>

       
            <div class="sublanguage__scroll">

                <hr class="sublanguage__hr" />
                <div class="sublanguage--language">
                    <h2 class="sublanguage__h2 sublanguage__h2--region">Select a language</h2>

                    <ul class="sublanguage__ul sublanguage__ul--region">
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/bg/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagbg" />
                                </svg>
                                български
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/de/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagde" />
                                </svg>
                                Deutsch
                            </a>
                        </li>
                        <li class="sublanguage__li">

                                                                                                                    
                            <a class="sublanguage__a" href="/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagen" />
                                </svg>
                                English
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/es/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flages" />
                                </svg>
                                Español
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/fr/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagfr" />
                                </svg>
                                Français
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/it/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagit" />
                                </svg>
                                Italiano
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/pt_br/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagpt_br" />
                                </svg>
                                Português
                            </a>
                        </li>
                        <li class="sublanguage__li">
                            <a class="sublanguage__a" href="/gb/ro/contact.html">
                                <svg class="language__flag language__flag--left">
                                    <use xlink:href="#icon-flagro" />
                                </svg>
                                Română
                            </a>
                        </li>
                    </ul>

                </div>

                <hr class="sublanguage__hr sublanguage__hr--hidetab" />

                <div class="sublanguage--region">

                                                                                    
                    <a class="sublanguage__selection" href="/eu/contact">
                        <span class="sublanguage__selection--flag">
                            <svg class="language__flag language__flag--left">
                                <use xlink:href="#icon-flageu" />
                            </svg>
                        </span>
                        <span class="sublanguage__selection--title">Eurozone</span>
                        <span class="sublanguage__selection--copy">Banking in The EU?</span>
                        <svg class="arrow subnavbar__arrow">
                            <use xlink:href="#icon-arrow" />
                        </svg>
                    </a>

                                                                                    
                    <a v-on:click="switchRegion('gb');" class="sublanguage__selection sublanguage__selection--last sublanguage__selection--active" href="/contact.html">
                        <span class="sublanguage__selection--flag">
                            <svg class="language__flag language__flag--left">
                                <use xlink:href="#icon-flagen" />
                            </svg>
                        </span>
                        <span class="sublanguage__selection--title">UK</span>
                        <span class="sublanguage__selection--copy">Banking in The UK?</span>
                        <svg class="arrow subnavbar__arrow">
                            <use xlink:href="#icon-arrow" />
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </div>

    
    


<div v-bind:style="{ left: highlightLeft + 'px', width: highlightWidth + 'px' }" v-bind:class="{ 'navbar__highlight--active': highlightActive }" class="navbar__highlight"></div>
</nav>



        <nav id="main_navigation" style="display:none;">

            <div class="ui blue inverted attached menu">

                <a class="icon item" id="sidebar_toggle">
                    <i class="sidebar icon"></i>
                </a>

                <a href="{{ site_url() }}" class="brand item">
                    <strong>{{ setting('site_name') is not empty ? setting('site_name') : lang('admin_panel') }}</strong>
                </a>

                <a href="{{ default_base_url() }}" target="_blank" rel="noopener" class="mobile hidden item">
                    <i class="home icon"></i> <span class="tablet hidden">Go To Site</span>
                </a>

                <div class="right menu">

                    {{ widget('theme_switcher_widget/index', 'navbar') }}
                    {{ widget('account_widget') }}

                </div>

            </div>

        </nav>
<script>
            //<![CDATA[
      var $subnavbar = document.getElementsByClassName('subnavbar')[0];
      var $items = document.getElementsByClassName('subnavbar__li');
      var width = 0;
      if (window.innerWidth > 991) {
        for (i = 0; i < $items.length; i++) {
          width += $items[i].clientWidth + 33;
        }
        $subnavbar.style.width = (width - 30) + 'px';
      } else {
        $subnavbar.style.width = '100%';
      }
      $subnavbar.classList.add('subnavbar--active');
            //]]>
            </script>
