
                            <div class="ui grid">

                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary blue inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="file outline icon"></i>
                                                        <span class="no break">{{ total_page_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Pages
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary green inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="bell outline icon"></i>
                                                        <span class="no break">{{ total_news_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        News
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary yellow inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="picture outline icon"></i>
                                                        <span class="no break">{{ total_gallery_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Galleries
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary red inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="film icon"></i>
                                                        <span class="no break">{{ total_slideshow_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Slideshow
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary blue inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="folder outline icon"></i>
                                                        <span class="no break">{{ total_category_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Categories
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <a href="{{ constant('CURRENT_URI') }}#">
                                        <div class="ui dashboard segments">
                                            <div class="ui secondary green inverted dashboard center aligned segment">
                                                <div class="ui dashboard statistic">
                                                    <div class="value">
                                                        <i class="gift icon"></i>
                                                        <span class="no break">{{ total_product_count }}</span>
                                                    </div>
                                                    <div class="label">
                                                        Products
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
